langchain-google-genai
langgraph
langchain
qdrant-client
langchain-qdrant
chainlit
python-dotenv
langchain-community
unstructured
markdown
playwright
SQLAlchemy==2.0.29
alembic==1.13.1
psycopg2-binary==2.9.9
asyncpg==0.29.0
psycopg[binary]
psycopg_pool
langgraph-checkpoint-postgres
httpx
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
tavily-python
beautifulsoup4
google-analytics-data
mcp
pybit
pydantic-settings
redis>=5.0.0
aiogram>=3.4.0
telethon>=1.34.0